:root {
    --purple: #4C1A57;
    --pink: #FF3CC7;
    --yellow: #F0F600;
    --blue: #00E5E8;
    --green: #007C77;
}
.weather-card {
    display: flex;
    gap: 30px; 
}
.container-fluid {
    max-height: 100%;
}
.input-group, .greeting-group {
    margin-top: 500px;
}
.form-control {
    border: 3px solid var(--blue);
}
button {
    margin-left: 2rem;
}
.btn-custom-blue {
    background-color: var(--blue);
}
.btn-custom-pink {
    background-color: var(--pink);
}
.btn-custom-yellow {
    background-color: var(--yellow);
}
.hide {
    display: none;
}