:root {
    --purple: #4C1A57;
    --pink: #FF3CC7;
    --yellow: #F0F600;
    --blue: #00E5E8;
    --green: #007C77;
}
.hide {
    display: none;
}

/* FIRST PAGE */
.container-fluid {
    max-height: 100%;
}
.input-group, .greeting-group {
    margin-top: 500px;
}
#name-input {
    border: 3px solid var(--pink);
    color: var(--pink);
}

#location-input {
    border: 3px solid var(--blue);
}
button {
    margin-left: 2rem;
}
.btn-custom-blue {
    background-color: var(--blue);
}
.btn-custom-pink {
    background-color: var(--pink);
}
.btn-custom-green {
    background-color: var(--green);
    margin-left: 1rem !important;
}
.greeting {
    color: var(--green);
    font-weight: 600;
    font-size: x-large;
}

/* MAIN PAGE */

#weather-card {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 30px;
    margin-right: 30px;
}